<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ nombreColeccion | titlecase }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="3" size-Lg="3" *ngFor="let carta of cartas">
        <ion-card class="tarjeta-carta">
          <img [src]="carta.imagen" alt="Carta Pokémon" />
          <ion-card-header>
            <ion-card-title>{{ carta.nombre }}</ion-card-title>
            <ion-card-subtitle>{{ carta.codigo }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="contenido-acciones">
            <ion-button color="danger" size="small" fill="outline" expand="block" (click)="eliminarCarta(carta)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Eliminar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text *ngIf="cartas.length === 0" color="medium">
    <p style="text-align: center; padding: 2rem;">No tienes cartas en esta coleccion.</p>
  </ion-text>
</ion-content>
