.modal-content {
  // overflow-y: auto;
  height: 100%;
}

ion-header {
  --background: #d32f2f; /* Rojo */
  --ion-background-color: #d32f2f;
  padding: 0;
}

ion-toolbar {
  --background: #d32f2f; /* Rojo */
  padding: 0;
}

ion-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #000 !important;
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
  letter-spacing: 1px;

  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  max-width: 100% !important;
  display: block !important;
  text-align: center !important;

  padding-left: 0 !important;
  padding-right: 0 !important;
}

ion-buttons ion-icon {
  font-size: 2rem; /* Más grande */
  color: #000 !important; /* Negro */
}