<ion-menu contentId="main-content" (ionDidOpen)="onMenuOpen()" (ionDidClose)="onMenuClose()">
  <ion-header>
    <ion-toolbar class="menu-header-toolbar" style="padding-top: 32px;">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Acordeón para Favoritos -->
      <ion-accordion-group>
        <ion-accordion value="favoritos">
          <ion-item slot="header">
            <ion-label>Favoritos</ion-label>
          </ion-item>
          <div slot="content">
            <ion-list>
              <ion-item *ngFor="let favorito of favoritos">
                <ion-button slot="start" (click)="eliminarFavorito(favorito.id)">X</ion-button>
                <ion-label (click)="irAFavoritos(favorito)">
                  {{ favorito.codigo }} - {{ favorito.nombre_espanol }}
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
        <!-- Acordeón para Historial -->
        <ion-accordion value="historial">
          <ion-item slot="header">
            <ion-label>Historial</ion-label>
          </ion-item>
          <div slot="content">
            <ion-list>
              <ion-item *ngFor="let histo of historial">
                {{ histo.nombre_espanol }}
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-button expand="block" color="danger" (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </ion-footer>
</ion-menu>