<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirConfiguracion()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="perfil-container ion-text-center">
    <ion-avatar class="avatar-perfil">
      <img [src]="imagenPerfil">
    </ion-avatar>
    <h2>{{ nombreUsuario }}</h2>
    <p>Usuario desde: {{ fechaCreacion }}</p>
    <p>Rol: {{ tipoUsuario }}</p>
  </div>

  <!-- Medallas en lista vertical -->
  <ion-list>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img 
          src="https://images.wikidexcdn.net/mwuploads/wikidex/9/93/latest/20180812035749/Medalla_Volc%C3%A1n.png"
          [ngStyle]="tieneMedallaCartaLegendaria ? {} : {'filter': 'grayscale(1)', 'opacity': '0.5'}"
        />
      </ion-avatar>
      <ion-label>
        <h2>Legendaria</h2>
        <p>Debes tener al menos una carta con rareza "Rara Ilustración Especial" o "Rara Híper" en tu colección propia.</p>
        <app-barra-progreso 
          [valor]="progresoLegendaria" 
          [total]="1">
        </app-barra-progreso>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar slot="start">
        <img 
          src="https://images.wikidexcdn.net/mwuploads/wikidex/3/39/latest/20180812014627/Medalla_Roca.png"
          [ngStyle]="tieneMedallaColeccionistaVerdadero ? {} : {'filter': 'grayscale(1)', 'opacity': '0.5'}"
        />
      </ion-avatar>
      <ion-label>
        <h2>Coleccionista</h2>
        <p>Crea al menos 5 colecciones.</p>
        <app-barra-progreso 
          [valor]="progresoColeccionista" 
          [total]="5">
        </app-barra-progreso>
      </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar slot="start">
        <img 
          src="https://images.wikidexcdn.net/mwuploads/wikidex/6/60/latest/20180812013531/Medalla_Cascada.png"
          [ngStyle]="tieneMedallaCienCartas ? {} : {'filter': 'grayscale(1)', 'opacity': '0.5'}"
        />
      </ion-avatar>
      <ion-label>
        <h2>100 Cartas</h2>
        <p>Debes tener al menos 100 cartas en tu colección propia.</p>
        <app-barra-progreso 
          [valor]="progresoCienCartas" 
          [total]="100">
        </app-barra-progreso>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>