<ion-header>
  <ion-toolbar style="padding-top: 32px;">
    <ion-title>{{ nombreheader }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <!-- Resumen de colección -->
  <div style="padding: 1rem; text-align: center;">
    <app-barra-progreso [valor]="cantidadMatches" [total]="cartas.length"></app-barra-progreso>
    <ion-text color="primary">
      <!-- <strong>Cartas en colección:</strong> {{ cartas.length }}<br> -->
      <!-- <strong>Cartas que tienes:</strong> {{ cantidadMatches }}<br> -->
      <strong>Valorización inicial:</strong> ${{ totalPrecio | number:'1.0-0' }}
    </ion-text>
    <!-- barra de progreso de colección -->

  </div>


  <ion-grid>
    <ion-row>

      <ion-col size="6" *ngFor="let carta of cartas_mostradas">
        <ion-card>

          <ion-row class="ion-justify-content-between ion-align-items-center ion-nowrap">

            <ion-col size="auto" style="padding: 0;">
              <ion-button size="small"
                (click)="favoritosSet.has(carta.id) ? eliminarFavorito(carta.id) : agregarFavorito(carta)">
                <ion-icon slot="icon-only" [name]="favoritosSet.has(carta.id) ? 'heart' : 'heart-outline'"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto" style="padding: 0;">
              <ion-button size="small" (click)="agregarPropia(carta)">
                <ion-icon slot="icon-only" name="duplicate"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto" style="padding: 0;">
              <ion-button size="small" (click)="estadisticas(carta)">
                <ion-icon slot="icon-only" name="bar-chart"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="auto" style="padding: 0;">
              <ion-button size="small" (click)="cotizar(carta)">
                <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <!-- Imagen con botones flotantes -->
          <div class="carta-img-container">
            <img (click)="verCarta(carta)" [src]="carta.imagen_url" alt="Carta Pokémon"
              [ngStyle]="cartasPropiasSet.has(carta.id) ? {} : {'filter': 'grayscale(1)'}" />
            <div class="carta-botones-flotantes">
              <img src="assets/banderas/chile.png" alt="Español" class="icon-btn"
                [class.selected]="carta.idioma === 'Español'" (click)="seleccionarIdioma(carta, 'Español')">
              <img src="assets/banderas/united-kingdom.png" alt="Inglés" class="icon-btn"
                [class.selected]="carta.idioma === 'Inglés'" (click)="seleccionarIdioma(carta, 'Inglés')">
              <img src="assets/banderas/japan.png" alt="Japonés" class="icon-btn"
                [class.selected]="carta.idioma === 'Japonés'" (click)="seleccionarIdioma(carta, 'Japonés')">
            </div>

          </div>

          <ion-card-header>
            <ion-card-title>
              <strong>{{ carta.nombre_espanol }}</strong>
            </ion-card-title>
            <ion-card-subtitle>{{ carta.codigo }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div>Cantidad: {{ carta.cantidad}}</div>
            <div>Precio: ${{ carta.precio | number:'1.0-0' }}</div>
            <div>Mercado: ${{ carta.valor_mercado | number:'1.0-0' }}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-text *ngIf="cartas.length === 0" color="medium">
    <p style="text-align: center; padding: 2rem;">No tienes cartas en esta coleccion.</p>
  </ion-text>

  <!-- Botón flotante para volver arriba -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-scroll-top">
    <ion-fab-button color="danger" (click)="scrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>