ion-tab-bar {
  --background: #d32f2f; /* Fondo rojo */
}

ion-tab-bar ion-icon {
  color: #000; /* Color por defecto para los iconos inactivos */
}

/* Borde blanco y color blanco al icono de la tab activa */
ion-tab-button.tab-selected ion-icon {
  color: #fff !important;
  transform: scale(1.3);
}