<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <!-- Cuadro con símbolo + -->
      <ion-card (click)="abrirSelectorExpansiones()" class="cuadro-seleccion">
        <ion-card-content class="icono-centro">
          <ion-icon name="add-circle-outline" size="large"></ion-icon>
          <div>Añadir colección</div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <!-- Cuadro con corazón (lo implementaremos en el siguiente paso) -->
      <ion-card (click)="mostrarFavoritos()" class="cuadro-seleccion">
        <ion-card-content class="icono-centro">
          <ion-icon name="heart-outline" size="large"></ion-icon>
          <div>Favoritos</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
