<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Colecciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- Botón para añadir colección -->
      <ion-col size="6">
        <ion-card (click)="abrirSelectorExpansiones()" class="cuadro-seleccion">
          <ion-card-content class="icono-centro">
            <ion-icon name="add-circle-outline" size="large"></ion-icon>
            <div>Añadir colección</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" *ngFor="let coleccion of colecciones_usuario">
        <ion-card (click)="mostrarColeccion(coleccion.id)" class="cuadro-seleccion">
          <ion-card-content class="icono-centro">
            <ng-container *ngIf="coleccion.logo_mediano; else iconoPorDefecto">
              <img [src]="coleccion.logo_mediano" alt="Logo colección"/>
            </ng-container>
            <ng-template #iconoPorDefecto>
              <ion-icon name="albums-outline" size="large"></ion-icon>
              <div>{{ coleccion.nombre | titlecase }}</div>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>