<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscar Cartas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Campo de búsqueda -->
    <ion-item>
      <ion-input
        placeholder="Ingrese el nombre de la carta"
        [(ngModel)]="searchQuery"
        clearInput
      ></ion-input>
      <ion-button (click)="searchCards()">Buscar</ion-button>
    </ion-item>

    <!-- Lista de cartas -->
    <ion-card *ngFor="let card of cardData" class="card">
      <ion-item lines="none">
        <img [src]="card.image" alt="{{ card.title }}" class="card-image" />
        <ion-label>
          <h2>{{ card.title }}</h2>
          <p>{{ card.price }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>