<ion-header>
  <ion-toolbar>
    <ion-title>Cartas Guardadas</ion-title>
  </ion-toolbar>

  <!-- Barra de búsqueda -->
  <ion-searchbar [(ngModel)]="textoBusqueda" (ionInput)="filtrarCartas($event)"
    placeholder="Buscar por nombre"></ion-searchbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let carta of cartasFiltradas" class="custom-card">
      
      <ion-item lines="none">
        <!-- Imagen de la carta a la izquierda -->
        <ion-thumbnail slot="start" class="custom-thumbnail">
          <img [src]="carta.imagen" alt="{{ carta.nombre }}" />
        </ion-thumbnail>

        <!-- Información de la carta a la derecha -->
        <ion-label>
          <h2>{{ carta.nombre }}</h2>
          <p>Precio actual: {{ carta.precioActual }}</p>
          <p>Tipo Carta: {{ carta.tipo_carta }}</p>
          <p>Código Carta: {{ carta.codigo_carta }}</p>
          <p>Colección: {{ carta.coleccion }}</p>
          <ion-button expand="block" [href]="carta.link" target="_blank">
            {{ carta.tienda }}
          </ion-button>
        </ion-label>
      </ion-item>

    </ion-card>
  </ion-list>

</ion-content>