// Estilo para centrar y ajustar el contenido del modal
.modal-content {
  padding: 16px;
  text-align: center;

  p {
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  ion-button {
    margin-top: 16px;
  }
}


.alert-radio-group button:nth-child(1) .alert-radio-label:before {
    content: url(https://images.wikidexcdn.net/mwuploads/wikidex/8/88/latest/20200830110343/Energ%C3%ADa_planta.png);
}